body{
    text-align: center;
    background-color: #ccddff;

}

header, footer{
    height: 100px;
}


main{
    display: flex;
    background-color: rgb(147, 241, 147);
    flex-wrap: nowrap;
    justify-content: center;
    gap: 15px;
    
    
}

main aside {
    text-align: left;
    background-color: #ffddcc;
    flex: 1;
    min-width: 150px;

}

main ul{
    background-color: #ffddcc;
    display: flex;
    flex-direction: column;
    border: solid 1px white; 
    margin: 0px;
    flex: 1;
    padding-left: 1px;
}


main ul li{
   
    text-align: left;
    width: 100%;
    margin-bottom: 15px;
    max-width: 200px;
    min-width: 150px;
    list-style-type: none;
    
}

ul li a{
    background-color: white;
    margin-inline: 5px;
    margin-top: 5%;
    display: block;
    height: 100%;
 
}

.greed{   
    flex: 5;
}
.greed h1{
    text-align: left;
}
.greed div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

article{
    max-width: 200px;
    min-width: 200px;
    background-color: white;
    margin-top: 5%;
    margin-left: 50px;
    border-radius: 50px;

}



