body{
background-color: #111; 
}

.container{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "titre feildset1 feildset2";
}

h1{
    color: yellowgreen;
    grid-area: titre;
    text-align: center;
    font-size: 3.6em;
    font-family: 'Times New Roman', Times, serif;
}

#fieldset1{
    background-color: #444;
    color: white;
    grid-area: feildset1;
    margin-bottom: 50%;

}

#chercher{
    background-color: #444;
  width: 100%;
}

#fieldset2{
    background-color: #444;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "field1 field2";
    grid-area: feildset2; 
    margin-bottom: 50%; 
}

#field1{
    grid-area: field1;
    width: 100%;
    padding-right: 5px; 
}

#field2{
    grid-area: field2;
    justify-self: center;
}

#nutriment{
    margin-top: -5%;
    color: white;
    width: 100%;
    border-collapse: collapse;
    font-size: 30px;

}

#donnee :hover{
    background-color: #664;
}

#titre{
    background-color: #444;
    color: yellowgreen;
 
}

#lblname{
    padding-right: 90%;
}

#test {
    text-align: center;
}

#lblname :nth-child(2){
    padding-right: 85%;
}

#test :nth-child(2){
    text-align: left;
    padding-left: 0.5%; 
}

#test :nth-child(1){
    color: yellow;
    background-color: #444;

}






