#dept{
    padding-left: 15px;
    margin-left: 10%;
}

#tpe{
    margin-left: 30%;
}

#pme{
    margin-left: 30%;
}

#grdENt{
    margin-left: 30%;
}

#ter{
    margin-left: 30%;
}

#asso{
    margin-left: 30%;
}

#autre{
    margin-left: 30%;
}

#valider{
    margin-left: 45%;
}